<mat-drawer-container class="page-container" autosize>
  <mat-drawer #drawer class="page-sidenav" mode="side">
    <img class="app-logo" [src]="logo"/>

    <p class="app-name">{{ title | uppercase }}</p>

    <div class="div-menu">
      <mat-card *ngFor="let item of items" (click)="onChangePage(item)">
        <mat-card-content class="item-menu-title">{{ item.title | uppercase }}</mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-content class="item-menu-title">{{ owner | titlecase }}</mat-card-content>
      </mat-card>
    </div>
  </mat-drawer>

  <mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{ title}}</span>
    <span class="button-spacer"></span>

    <app-cart-button></app-cart-button>

    <button mat-icon-button (click)="onLogout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>

  <div class="div-banner">
    <img class="img-banner" [src]="imageSalesLeft"/>
    <img class="img-banner" [src]="imageSalesMiddle"/>
    <img class="img-banner" [src]="imageSalesRight"/>
  </div>

  <app-list-items [showAdmin]="false"></app-list-items>

</mat-drawer-container>
